*

!/Probabilistic/
!/notes/
!/NeuralNetwork/
!/Linear/
!/Clustering/
!/Dataset/
!/Dataset/watermelon-tiny.csv
!/Util/
!/Util/kd-tree/
!/Util/kd-tree/kd-tree/

!.gitignore

!*.py
!/**/*.py
!*.cpp
!/**/*.cpp
!*.hpp
!/**/*.hpp
!*.md

